@{
    ViewBag.Title = "Contact";
}
@*File: Contact.cshtml
Authors: Amanda, Anthony
Website: http://comp2007-s2016-assignment2-restaurant.azurewebsites.net
Description: This is the main contact page for the restaurant*@
<div class="panel panel-danger">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        192 Bayfield St<br />
        Barrie, ON<br />
        <abbr title="Phone">P:</abbr>
        705.436.4729
    </address>
    <div class="panel-body">
        <div class="col-md-6 col-sm-12">
            <ul class="list-unstyled list-inline ">
                <li><a href="https://www.facebook.com"><i class="fa fa-facebook-official fa-lg"></i></a></li>
                <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram fa-lg"></i></a></li>
                <li><a href="https://www.twitter.com"><i class="fa fa-twitter-square fa-lg"></i></a></li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="pull-right">
                <img width="600" src="http://maps.googleapis.com/maps/api/staticmap?center=barrie&zoom=13&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7Cbarrie" alt="Google Map of barrie" />
            </div>
        </div>
    </div>
</div>