@{
    ViewBag.Title = "Contact";
}
<div class="panel panel-danger">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
    <div class="panel-body">
        <div class="col-md-6 col-sm-12">
            <ul class="list-unstyled list-inline ">
                <li><a href="https://www.facebook.com"><i class="fa fa-facebook-official fa-lg"></i></a></li>
                <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram fa-lg"></i></a></li>
                <li><a href="https://www.twitter.com"><i class="fa fa-twitter-square fa-lg"></i></a></li>
            </ul>
        </div>
    </div>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>