@{
    ViewBag.Title = "Home Page";
}
@*File: Index.cshtml
  Authors: Amanda, Anthony
  Website: http://comp2007-s2016-assignment2-restaurant.azurewebsites.net
  Description: This is the main page for the restaurant*@

<div class="row">
@Html.ActionLink("MENU", "Index", "MenuItems", new { area = "" }, new { @class = "btn btn-danger" })
</div>